

html{
    height: 100vh;
    
}

h1, h2, p, label, button, a{
    font-family: monospace;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* nav */
header{
    position: fixed;
    width: 100%;
}
nav {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: rgb(52,52,52);
    padding: 1em;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: large;
}

nav a:hover{
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    transition-duration: 1s;
    font-size: 2em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}


.image img{
    border-radius: 15px;
    width: 60%;
    height: 60%;
}


.image, .detalles{
    color: white;
    border-radius: 15px;
    margin: 100px auto ;
    padding: 1em;
    background-color: rgb(52,52,52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




footer {
    width: 100vw;
    color: white;
    background-color: rgb(52,52,52);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin-top: auto;
}
footer img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.columna {
    flex: 1;
    text-align: center;
    padding: 10px;
}



.redes-sociales{
    display: flex;
    flex-direction: row;
}

/* PAGINA GALERIA */

.gridcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(52,52,52);
    border-radius: 1em;
    margin: 15vh auto;
    height: 75vh;
    width: 60vw;
    padding: 1em;
    gap: 1em;
}


.grilla{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1em;
    margin: 1em;
}

.objeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: rgb(27, 27, 27);
    border-radius: 0.5em;
}
/* pagina contactos */

.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 6em;
    margin: 100px 0px;
}

.sidebar{
    width: 40%;
}

.sidebar img{
    width: 100%;
}


.formulario{
    background-color: rgb(52,52,52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1em;
    border-radius: 1em;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

form input, textarea{
    border: none;
    border-radius: 1em;
}

form input:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
}


form button{
    border: none;
    border-radius: 1em;
    color: white;
    background-color: rgb(121, 121, 121);
}

form button:hover{
    transition-duration: 1s;
    background-color: rgb(192, 188, 188);
    color: black;
}


.leftbox{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(52,52,52);
    border-radius: 1em;
    padding: 0;
}


.innerbox h2,p{
    color: white;
    font-size: auto;
}




/* detalles */
.box{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(52,52,52);
    border-radius: 1em;
    padding: 1m;
    margin: 15vh auto;
    height: 75vh;
    width: 60vw;

}

.box img{
    width: 90%;
    height: 90%;
    border-radius: 1em;
}







/* responsive */
